<!--{template common/header}-->

<!--{ad/text/wp a_t}-->

<style id="diy_style" type="text/css"></style>
<div class="wp"> 
  <!--[diy=diy1]-->
  <div id="diy1" class="area"></div>
  <!--[/diy]--> 
</div>
<div id="ct" class="ct2 wp cl">
  <div class="mn"> 
    <!--[diy=diycontenttop]-->
    <div id="diycontenttop" class="area"></div>
    <!--[/diy]--> 
    <!--{if $action != 'create'}--> 
  
    <div class=" noborder" style="background:none!important">
      <div class="bm_c xld xlda cl nopadding">
      <div id="guild">
  <div id="guildtitle">
    <div id="titlename">
      <h1>$_G[forum][name]</h1>
    </div>
    <br clear="all" />
  </div>
  
  <div id="exit_g">
      
     <!--{if $groupuser['uid']}-->
     <a href="forum.php?mod=group&action=out&fid=$_G[fid]
">[{lang group_leave}]</a>
	 <!--{/if}-->
     <a href="group.php">    [{lang return_group_center}]</a>
     <!--{if $_G['forum']['ismoderator']}-->
     <a href="forum.php?mod=group&action=manage&fid=$_G[fid]#groupnav">[{lang group_manage}]</a>
     <!--{/if}-->
  </div>
  
  <div id="guild-c" style="padding-left:1px; clear:both">
  <div class="BroadBG">
  <div class="Broadcast"><b></b><span><!-- {if $_G[mygroup][notice] == ''} -->{lang group_no_notice}<!-- {else} -->$_G[mygroup][notice]<!-- {/if} --></span></div></div>
  <br clear="all" />
    <div class="gthumb2 gttype guilddescribe modelcolor6" ><img src="$_G[forum][icon]" /><span>$_G[forum][description]</span></div>
    <div class="gthumb1 gttype guildmembersign modelcolor1"><button type="button"  onclick="location.href='forum.php?mod=group&action=signing&fid=$_G[fid]'"></button></div>
    <div class="gthumb1 gttype join_guild modelcolor2"><button type="button"  onclick="location.href='forum.php?mod=group&action=join&fid=$_G[fid]'"></button></div>
   
    <div class="gthumb3 gttype">
      <div class="blackBox guildBoard modelcolor6">
        <div class="guildrankbar">
          <div class="guildchoose"><a class="guildBoardselected" href="#">{lang group_member_tcp_contribute_list}</a><a href="#" class="">{lang group_member_capital_list}</a></div>
            <table style="display:table;" >
               <tbody>
                <!--{loop $_G['mygroup']['member_contribute_list'] $contribute_rank $contribute}-->
                <tr class="top3tr rankborder">
                  <td class="guildrank">{eval echo $contribute_rank + 1;}</td>
                  <td class="guildmenbericon"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$contribute[uid]&size=small" /></td>
                  <td class="guildmember"> $contribute[username] </td>
                  <td class="guildmengberscore"> $contribute[contributed] </td>
                </tr>
                <!--{/loop}-->
              </tbody>
            </table>
            <table style="display:none;">
                <!--{loop $_G['mygroup']['member_capital_list'] $capital_rank $capital}-->
                
                <tr class="top3tr rankborder">
                  <td class="guildrank">{eval echo $capital_rank + 1;}</td>
                  <td class="guildmenbericon"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$capital[uid]&size=small" /></td>
                  <td class="guildmember"> $capital[username] </td>
                  <td class="guildmengberscore"> $capital[capital] </td>
                </tr>
                <!--{/loop}-->
            </table>
         
        </div>
      </div>
    </div>
    <div class="gthumb1 gttype guildlevel modelcolor2">
	  <b>{eval echo str_pad( $_G['mygroup']['level'], 2, '0', STR_PAD_LEFT );}</b>
      <p>{lang group_level}</p>
    </div>
    <div class="gthumb1 gttype modelcolor3 guildmaster"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$_G['forum']['founderuid']
&size=normal" />
      <p>
      	<!--{eval $i = 1;}-->
      	<!--{loop $groupmanagers $manage}-->
      		<!--{if $i <= 0}-->, <!--{/if}-->
      		<!--{eval $i--;}-->$manage[username]
      	<!--{/loop}-->
      </p>
      <p class="jurisdiction">{lang group_founder}</p>
    </div>
    <div class="gthumb2 gttype guildatotal modelcolor4" >
      <h2 class="thumdtitle fl">{lang group_next_surplus_tcp}：$_G[mygroup][next_level_require_tcp]</h2>
      <table width="200px">
         <tr>
            <td width="70%">{lang group_capital}：$_G[mygroup][capital]</td>
            <td>{lang group_capital_rank}：$_G[mygroup][capital_rank]</td>
         </tr>
         <tr>
            <td width="70%">{lang group_tcp}：$_G[mygroup][tcp]</td>
            <td>{lang group_tcp_rank}：$_G[mygroup][tcp_rank]</td>
         </tr>
         <tr>
            <td>{lang group_coupon}：{lang building}$_G['usergroup']['fid']</td>
         </tr>
         
      </table>

    </div>
   
    <div class="gthumb2 gttype relationguild modelcolor1">
      <h2 class="thumdtitle" style="margin-left:5px;">{lang group_enemy_group}</h2>
      <!-- {if $groupmat} -->
      <button type="button"  onclick="location.href='forum.php?mod=group&action=group_relation&op=enemy&fid=$_G['usergroup']['fid']&enemy_group_id=$_G['mygroup']['groupid']'" title="添加成为敌对公会"></button>
     <!-- {/if} -->
      <dl>
      	<!--{if $_G['mygroup']['enemy_group']}-->
      	<!--{loop $_G['mygroup']['enemy_group'] $group}-->
      	<dd><a href="forum.php?mod=group&fid=$group[fid]" >$group[name]</a><!--{if !empty($_G['forum']['founderuid']) && $_G['forum']['founderuid'] == $_G['uid']}--><a class="del_rel" href="forum.php?mod=group&action=group_relation&op=nonenemy&fid=$group[fid]&enemy_group_id=$_G[mygroup][groupid]" title="删除公会">删除</a><!--{/if}--></dd>
        <!--{/loop}-->
        <!--{else}-->
        <dd>{lang group_no_enemy_group}</dd>
        <!--{/if}-->
      </dl></div>
    <div class="gthumb2 gttype relationguild modelcolor6">
    <h2 class="thumdtitle" style="margin-left:5px;">{lang group_friend_group}</h2>
     <!-- {if $groupmat} -->
      <button type="button"  onclick="location.href='forum.php?mod=group&action=group_relation&op=friend&fid=$_G['usergroup']['fid']&friendly_group_id=$_G['mygroup']['groupid']'" title="添加成为友情公会"></button>
     <!-- {/if} -->
      <dl>
      	<!--{if $_G['mygroup']['friend_group']}-->
        <!--{loop $_G['mygroup']['friend_group'] $group}-->
      	<dd><a href="/forum.php?mod=group&fid=$group[fid]" >$group[name]</a><!--{if !empty($_G['forum']['founderuid']) && $_G['forum']['founderuid'] == $_G['uid']}--><a class="del_rel" href="forum.php?mod=group&action=group_relation&op=unfriend&fid=$group[fid]&friendly_group_id=$_G[mygroup][groupid]"  title="删除公会">删除</a><!--{/if}--></dd>
        <!--{/loop}-->
        <!--{else}-->
        <dd>{lang group_no_friend_group}</dd>
        <!--{/if}-->
      </dl></div>
    
    <div class="gthumb1 gttype modelcolor3 g_dz_contcp ">
         <a id="activator" class="activator" href="javascript:void(0)"></a>
    </div>
    
    <div class="gthumb1 gttype modelcolor1 g_dz_home ">
        <li {if $action == 'index'}class="a"{/if}><a href="forum.php?mod=group&action=my_manage&fid=$_G[fid]#groupnav" title=""></a></li>
    </div>
    <div class="gthumb2 gttype modelcolor4 g_dz_dicuss gchidden"><li {if $action == 'list'}class="a"{/if} style="list-style:none"><a href="forum.php?mod=forumdisplay&action=list&fid=$_G[fid]#groupnav" title=""></a></li></div>
    <div class="gthumb2 gttype modelcolor5 g_dz_member gchidden" > <li {if $action == 'memberlist' || $action == 'invite'}class="a"{/if} style="list-style:none">
        <a href="forum.php?mod=group&action=memberlist&fid=$_G[fid]#groupnav" title=""></a>
        </li></div>
       <!--{eval $group_games = $_G['mygroup']['group_games'];}-->
    <!--{loop str_split('012345') $game_index}-->
    <!--{eval $styleid = $game_index+1;}-->
    <!--{if $group_games[$game_index]}-->
    <!--{eval $game = $group_games[$game_index];}-->
    <!--{eval $group_game = $_G['mygroup']['games'][$game['gameid']];}-->
    <div class="gthumb1 gttype modelcolor$styleid">

    	   	<a href="/game.php?action=play&game_id=$game['gameid']&server_id=$game['game_serverid']">
	    	<img src="{IMGDIR}/$group_game[game_logo]"  width="101px" height="70px"/>
			<span>$group_game[game_name]</span>

		</a>
	</div>
    	<!--{else}-->
	<div class="gthumb1 gttype modelcolor$styleid">
	</div>
	<!--{/if}-->

    <!--{/loop}-->
    
  </div>
 
</div>
        <!--{if $status != 2 && $status != 3 && $status != 5}--> 
        <!--{if helper_access::check_module('group') && $status != 'isgroupuser'}-->
       
        <!--{/if}--> 
        <!--{if CURMODULE == 'group'}--><!--{hook/group_navlink}--><!--{else}--><!--{hook/forumdisplay_navlink}--><!--{/if}--> 
        <!--{/if}--> 
      </div>
    </div>
    
    <!--[diy=diycontentmiddle]-->
    <div id="diycontentmiddle" class="area"></div>
    <!--[/diy]--> 
    <!--{if CURMODULE == 'group'}--><!--{hook/group_top}--><!--{else}--><!--{hook/forumdisplay_top}--><!--{/if}--> 
    <!--{/if}--> 
</div>
<div class="wp mtn"> 
  <!--[diy=diy3]-->
  <div id="diy3" class="area"></div>
  <!--[/diy]--> 
</div>
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="box" id="box"> <a class="boxclose" id="boxclose"></a>
  <h1>请输入贡献的TCP额度</h1>
     <div class="tcpinputdiv">
        <!--{if $_G['uid']}-->
  		<input id="tcpinput" name="tcpinput"  type="text"/>
        <input id="posttcp" name="posttcp"  type="submit" value="贡献TCP"/>
        感谢您对本公会的支持
        <!--{else}-->
        未登录，请登录后再捐献TCP，感谢您对本公会的支持！
        <!--{/if}-->
     </div>
</div>
<script  type="text/javascript">
jQuery(document).ready(function(){
	    jQuery('.guildBoard a').hover(function(){
		jQuery(this).parent().children('a').removeClass('guildBoardselected');
		jQuery(this).addClass('guildBoardselected');
		var index = jQuery(this).index();
		jQuery('.guildBoard table').hide().eq(index).show();
	});
});
/*jQuery(document).ready(function(e) {
	 jQuery("#guild-c").css('display','block');
    jQuery("#discussBG").css('display','none');
	jQuery('.gchidden').click(function(e){
		jQuery("#guild-c").css('display','none');
		   jQuery("#discussBG").css('display','block');
		   
		})
});*/
jQuery(document).ready(function(e) {
       jQuery('input[name="posttcp"]').click(function(e){
			var tcp = jQuery('input[name="tcpinput"]').val();
			url = "forum.php?mod=group&amp;action=contribute&amp;fid=$_G[fid]&amp;tcp="+tcp;
			window.location.href = url.replace(/&amp;/ig, "&");  
		})
});

</script>
<script type="text/javascript">
            jQuery(function() {
                jQuery('#activator').click(function(){
                    jQuery('#overlay').fadeIn('fast',function(){
                        jQuery('#box').animate({'top':'160px'},500);
                    });
                });
                jQuery('#boxclose').click(function(){
                    jQuery('#box').animate({'top':'-200px'},500,function(){
                        jQuery('#overlay').fadeOut('fast');
                    });
                });

            });
        </script>
</body>