<!--{template common/header}-->

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
<div class="wp"> 
  <!--[diy=diy1]-->
  <div id="diy1" class="area"></div>
  <!--[/diy]--> 
</div>
<div id="ct" class="ct2 wp cl">
  <div class="mn"> 
    <!--[diy=diycontenttop]-->
    <div id="diycontenttop" class="area"></div>
    <!--[/diy]--> 
    <!--{if $action != 'create'}--> 
    <!--{if $_G['forum']['banner']}-->
    <div id="gh"> <img src="$_G[forum][banner]" alt="" />
      <div class="bm bmw bw0">
        <div class="bm_h bw0 cl">
          <h1 class="xs2">$_G[forum][name]</h1>
        </div>
        <div class="bm_c " > 
          <!--{if $_G['forum']['description']}-->
          <div class="pbn">$_G['forum']['description']</div>
          <!--{/if}-->
          <div> <a href="home.php?mod=spacecp&ac=favorite&type=group&id={$_G[forum][fid]}&handlekey=sharealbumhk_{$_G[forum][fid]}" id="a_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" title="{lang favorite}" class="fa_fav">{lang favorite}</a><span class="pipe">|</span><!--{if $_G[setting][rssstatus] && !$_GET['archiveid']}--><a href="forum.php?mod=rss&fid=$_G[fid]&auth=$rssauth" target="_blank" title="RSS" class="fa_rss">RSS</a><!--{/if}--><!--{if $status == 'isgroupuser' && helper_access::check_module('group')}--><span class="pipe">|</span><a href="javascript:;" onclick="showWindow('invite','misc.php?mod=invite&action=group&id=$_G[fid]')" class="fa_ivt"><strong class="xi2">{lang my_buddylist_invite}</strong></a><!--{/if}--> 
            <span class="pipe">|</span><!--{if $_G['current_grouplevel']['icon']}--><img src="$_G[current_grouplevel][icon]" title="{lang group_level}: $_G[current_grouplevel][leveltitle]" class="vm"> <!--{/if}-->{lang credits}: $_G[forum][commoncredits]<span class="pipe">|</span>{lang group_moderator_title}: <!--{eval $i = 1;}--><!--{loop $groupmanagers $manage}--><!--{if $i <= 0}-->, <!--{/if}--><!--{eval $i--;}--><a href="home.php?mod=space&uid=$manage[uid]" target="_blank" class="xi2">$manage[username]</a><!--{/loop}--> 
          </div>
          <!--{if $status != 2 && $status != 3 && $status != 5}--> 
          <!--{if helper_access::check_module('group') && $status != 'isgroupuser'}-->
          <div class="ptm pbn">
            <button type="button" class="pn" onclick="location.href='forum.php?mod=group&action=join&fid=$_G[fid]'"><em>{lang group_join_group}</em></button>
          </div>
          <!--{/if}--> 
          <!--{if CURMODULE == 'group'}--><!--{hook/group_navlink}--><!--{else}--><!--{hook/forumdisplay_navlink}--><!--{/if}--> 
          <!--{/if}--> 
          
          <!--{if $action == 'index' && ($status == 2 || $status == 3 || $status == 5)}-->
          <p class="mtm"> {lang group_join_type}: 
            <!--{if $_G['forum']['jointype'] == 1}--> 
            <strong>{lang group_join_type_invite}</strong> 
            <!--{elseif $_G['forum']['jointype'] == 2}--> 
            <strong>{lang group_join_type_moderate}</strong> 
            <!--{else}--> 
            <strong>{lang group_join_type_free}</strong> 
            <!--{/if}--> 
            {lang group_perm_visit}: <strong><!--{if $_G['forum']['gviewperm'] == 0}-->{lang group_perm_member_only}<!--{else}-->{lang group_perm_all_user}<!--{/if}--></strong> </p>
          <p class="mtm xi1"> 
            <!--{if $status == 3 || $status == 5}--> 
            {lang group_has_joined} 
            <!--{elseif helper_access::check_module('group')}-->
            <button type="button" class="pn" onclick="location.href='forum.php?mod=group&action=join&fid=$_G[fid]'"><em>{lang group_join_group}</em></button>
            <!--{/if}--> 
          </p>
          <!--{/if}--> 
        </div>
      </div>
    </div>
    <!--{else}-->
    <div class=" noborder" style="background:none!important">
      <div class="bm_c xld xlda cl nopadding">
      <div id="guild">
  <div id="guildtitle">
    <div id="titlename">
      <h1>$_G[forum][name]</h1>
    </div>
    <br clear="all" />
  </div>
  <div id="guild-c" style="padding-left:1px;">
    <div class="gthumb2 gttype guilddescribe modelcolor6"><img src="$_G[forum][icon]" /><span>$_G[forum][description]</span></div>
    <div class="gthumb1 gttype guildmembersign modelcolor1"><button type="button"  onclick="location.href='forum.php?mod=group&action=signing&fid=$_G[fid]'"></button></div>
    <div class="gthumb1 gttype join_guild modelcolor2"><button type="button"  onclick="location.href='forum.php?mod=group&action=join&fid=$_G[fid]'"></button></div>
   
    <div class="gthumb3 gttype">
      <div class="blackBox guildBoard modelcolor6">
        <div class="guildrankbar">
          <div class="guildchoose"><a class="guildBoardselected" href="#">TCP贡献榜</a><a href="#" class="">财富榜</a></div>
            <table style="display:table;" >
               <tbody>
                <!--{loop $_G['mygroup']['member_contribute_list'] $contribute_rank $contribute}-->
                <tr class="top3tr rankborder">
                  <td class="guildrank">{eval echo $contribute_rank + 1;}</td>
                  <td class="guildmenbericon"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$contribute[uid]&size=small" /></td>
                  <td class="guildmember"> $contribute[username] </td>
                  <td class="guildmengberscore"> $contribute[contributed] </td>
                </tr>
                <!--{/loop}-->
              </tbody>
            </table>
            <table style="display:none;">
                <!--{loop $_G['mygroup']['member_capital_list'] $capital_rank $capital}-->
                
                <tr class="top3tr rankborder">
                  <td class="guildrank">{eval echo $capital_rank + 1;}</td>
                  <td class="guildmenbericon"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$capital[uid]&size=small" /></td>
                  <td class="guildmember"> $capital[username] </td>
                  <td class="guildmengberscore"> $capital[capital] </td>
                </tr>
                <!--{/loop}-->
            </table>
         
        </div>
      </div>
    </div>
    <div class="gthumb1 gttype guildlevel modelcolor2"><b>01</b>
      <p>公会等级</p>
    </div>
    <div class="gthumb1 gttype modelcolor3 guildmaster"><img src="{$_G[setting][ucenterurl]}/avatar.php?uid=$_G['forum']['founderuid']
&size=normal" />
      <p><!--{eval $i = 1;}--><!--{loop $groupmanagers $manage}--><!--{if $i <= 0}-->, <!--{/if}--><!--{eval $i--;}-->$manage[username]<!--{/loop}--></p>
      <p class="jurisdiction">会长</p>
    </div>
    <div class="gthumb2 gttype guildatotal modelcolor5" >
      <h2 class="thumdtitle fl">升级需TCP：$_G[mygroup][next_level_require_tcp]</h2>
      <table width="200px">
         <tr>
            <td width="70%">公会财富值：$_G[mygroup][capital]</td>
            <td>排名：$_G[mygroup][capital_rank]</td>
         </tr>
         <tr>
            <td width="70%">公 会 TCP：$_G[mygroup][tcp]</td>
            <td>排名：$_G[mygroup][tcp_rank]</td>
         </tr>
         <tr>
            <td>充值提升率：未做</td>
         </tr>
         
      </table>

    </div>
    <div class="gthumb1 gttype relationguild modelcolor6">
      <h2 class="thumdtitle" style="margin-left:5px;">友情公会</h2>
      <dl>
        <!--{loop $_G['mygroup']['friend_group'] $group}-->
      	<dd><a href="/forum.php?mod=group&fid=$group[fid]" >$group[name]</a></dd>
        <!--{/loop}-->
      </dl>
    </div>
    <div class="gthumb1 gttype relationguild modelcolor1">
      <h2 class="thumdtitle" style="margin-left:5px;">敌对公会</h2>
      <dl>
      	<dd>小清闲公会</dd>
        <dd>2闲公会</dd>
      </dl></div>
    <div class="gthumb2 gttype modelcolor1"></div>
    <!--{eval $group_games = $_G['mygroup']['group_games'];}-->
    <!--{loop str_split('012345') $game_index}-->
    <!--{eval $styleid = $game_index+1;}-->
    <!--{if $group_games[$game_index]}-->
    <!--{eval $game = $group_games[$game_index];}-->
    <!--{eval $group_game = $_G['mygroup']['games'][$game['gameid']];}-->
    <div class="gthumb1 gttype modelcolor$styleid">
    	<a href="/game.php?action=play&game_id=$game['gameid']&server_id=$game['game_serverid']">
	    	<img src="/game/admin/uploads/$group_game[game_logo]" />
			<span>$group_game[game_name]</span>
		</a>
	</div>
	<!--{else}-->
	<div class="gthumb1 gttype modelcolor$styleid">
	</div>
	<!--{/if}-->
    <!--{/loop}-->
    <!--<div class="gthumb1 gttype modelcolor5"><a href="http://long.37wan.com/"> <img src="{IMGDIR}/longjiang.jpg" />
      <span>龙将50服</span>
      </a></div>
    <div class="gthumb1 gttype modelcolor2"><a href="http://long.37wan.com/"> <img src="{IMGDIR}/longjiang.jpg" />
      <span>倾城之恋50服</span>
      </a></div>-->
  </div>
 
</div>
        <!--{if $status != 2 && $status != 3 && $status != 5}--> 
        <!--{if helper_access::check_module('group') && $status != 'isgroupuser'}-->
       
        <!--{/if}--> 
        <!--{if CURMODULE == 'group'}--><!--{hook/group_navlink}--><!--{else}--><!--{hook/forumdisplay_navlink}--><!--{/if}--> 
        <!--{/if}--> 
      </div>
    </div>
    <!--{/if}--> 
    <!--[diy=diycontentmiddle]-->
    <div id="diycontentmiddle" class="area"></div>
    <!--[/diy]--> 
    <!--{if CURMODULE == 'group'}--><!--{hook/group_top}--><!--{else}--><!--{hook/forumdisplay_top}--><!--{/if}--> 
    <!--{if $status != 2 && $status != 3}-->
    <div id="discussBG">
     <div class="Broadcast"><b></b><span>$_G[mygroup][notice]</span></div>
    <div class="tb cl noborder" style="width:960px; "> 
      <!--{if in_array($_G['adminid'], array(1,2))}--><span class="a bw0_all y xi2"><a href="javascript:;" onclick="showWindow('grecommend$_G[fid]', 'forum.php?mod=group&action=recommend&fid=$_G[fid]');return false;"  style=" color:#FFF">{lang group_push_to_forum}</a></span><!--{/if}-->
      <ul id="groupnav" style="margin-left:6px;">
        <li {if $action == 'index'}class="a"{/if}><a href="forum.php?mod=group&fid=$_G[fid]#groupnav" title="">{lang home}</a></li>
        <li {if $action == 'list'}class="a"{/if}><a href="forum.php?mod=forumdisplay&action=list&fid=$_G[fid]#groupnav" title="">{lang group_discuss_area}</a></li>
        <li {if $action == 'memberlist' || $action == 'invite'}class="a"{/if}>
        <a href="forum.php?mod=group&action=memberlist&fid=$_G[fid]#groupnav" title="">{lang group_member_list}</a>
        </li>
        <!--{if $_G['forum']['ismoderator']}-->
        <li {if $action == 'manage'}class="a"{/if}><a href="forum.php?mod=group&action=manage&fid=$_G[fid]#groupnav">{lang group_admin}</a></li>
        <!--{/if}--> 
        <!--{if CURMODULE == 'group'}--><!--{hook/group_nav_extra}--><!--{else}--><!--{hook/forumdisplay_nav_extra}--><!--{/if}-->
      </ul>
    </div>
    <!--{/if}--> 
    <!--{/if}--> 
    <div id="discuss"><div id="ds-c" >
    
    <!--{if $action == 'index' && $status != 2 && $status != 3}--> 
    <!--{subtemplate group/group_index}--> 
    <!--{elseif $action == 'list'}--> 
    <!--{subtemplate group/group_list}--> 
    <!--{elseif $action == 'memberlist'}--> 
    <!--{subtemplate group/group_memberlist}--> 
    <!--{elseif $action == 'create'}--> 
    <!--{subtemplate group/group_create}--> 
    <!--{elseif $action == 'invite'}--> 
    <!--{subtemplate group/group_invite}--> 
    <!--{elseif $action == 'manage'}--> 
    <!--{subtemplate group/group_manage}--> 
    <!--{/if}--> </div></div>
    <!--{if CURMODULE == 'group'}--><!--{hook/group_bottom}--><!--{else}--><!--{hook/forumdisplay_bottom}--><!--{/if}--> 
    <!--[diy=diycontentbottom]-->
 
    <div id="diycontentbottom" class="area"></div>
    <!--[/diy]--> 
  </div>

</div>
<div class="wp mtn"> 
  <!--[diy=diy3]-->
  <div id="diy3" class="area"></div>
  <!--[/diy]--> 
</div>

<script  type="text/javascript">
var jQuery = jQuery.noConflict();
jQuery(document).ready(function(){
	    jQuery('.guildBoard a').hover(function(){
		jQuery(this).parent().children('a').removeClass('guildBoardselected');
		jQuery(this).addClass('guildBoardselected');
		var index = jQuery(this).index();
		jQuery('.guildBoard table').hide().eq(index).show();
	});
});

	
</script>
