<!--{subtemplate common/header}-->
	
	<!--{ad/text/wp a_t}-->
	<style id="diy_style" type="text/css"></style>
	<div class="wp" >
		<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	</div>
	<div id="ct" class="ct2 wp cl" style="width:930px; margin-top:30px;">
		<div class="mn">
			<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
			
			<!--[diy=diycommendtop]--><div id="diycommendtop" class="area"></div><!--[/diy]-->
			<!--{hook/index_header}-->
            <div #="g_title_btn">
               <div id="g_btn_select">
                   <select class="styled" name="d">
                      <!--{loop $first $groupid $group}-->
                      <option value ="group.php?gid=$groupid" class='g_select_class' >$group[name]</option>
                      <!--{/loop}-->
					</select>
                    <script type="text/javascript">
					jQuery('select').ready(function(e) {
                        jQuery('#g_btn_select select').change(function(e){
							    jQuery('#g_show').attr('src',jQuery(this).val())
							})
                    });
					</script>
               </div>
               <div id="g_btn_create" style="float:right; width:160px; height:40px;">
                 <!--{if helper_access::check_module('group')}-->
				<!--{if empty($gid) && empty($sgid)}-->
					
							<!--{if helper_access::check_module('group')}-->
							<a href="forum.php?mod=group&action=create" id="create_group_btn"><img src="{IMGDIR}/create_group.png" alt="{lang group_create}" /></a>
							<!--{/if}-->
						
				<!--{else}-->
				
							<a href="forum.php?mod=group&action=create&fupid=$fup&groupid=$sgid" id="create_group_btn"><img src="{IMGDIR}/create_group.png" alt="{lang group_create}" /></a>
					
	
				<!--{/if}-->
			<!--{/if}-->
               </div>
				<!--{loop $G['tcp_group_rank_list'] $tcp_group_rank}-->
				<img src="data/attachment/group/$tcp_group_rank['icon']" ><a href="forum.php?mod=group&fid=$tcp_group_rank['fid']" >$tcp_group_rank['name']</a>&nbsp;&nbsp;$tcp_group_rank['tcp']
				<!--{/loop}-->
				
				<!--{loop $G['signing_group_rank_list'] $signing_group_rank}-->
				<img src="data/attachment/group/$signing_group_rank['icon']" ><a href="forum.php?mod=group&fid=$signing_group_rank['fid']" >$signing_group_rank['name']</a>&nbsp;&nbsp;$signing_group_rank['signing_num']
				<!--{/loop}-->
               <br clear="all" />
            </div>
            
			<iframe name="g_show" id="g_show" src="group.php?gid=3" width="99.2%"  frameborder="0" scrolling="no" style=" border:none; margin-top:5px; background:none!important;" onload="dynIframeAutoSize('g_show','height')"></iframe>
            
            <div id="g_commend" class="bm noborder">
				<div class="bm_c cl" style="padding:0px!important; margin-top:10px;!important">
					<!--{loop $list $fid $val}-->
					<dl class="xld">
						<dd class="m"><a href="forum.php?mod=group&fid=$val[fid]"><img src="$val[icon]" alt="$val[name]" width="74" height="74" /></a></dd>
						<dt><a href="forum.php?mod=group&fid=$val[fid]">$val[name]</a></dt>
						<dd class="xg1">$val[description]</dd>
					</dl>
					<!--{/loop}-->
				</div>
			</div>

			<!--[diy=diycategorytop]--><div id="diycategorytop" class="area"></div><!--[/diy]-->
			<!--{hook/index_top}-->
			<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
			<!--{hook/index_bottom}-->
		</div>

		<div class="sd">
			<div class="drag">
				<!--[diy=diysidetop]--><div id="diysidetop" class="area"></div><!--[/diy]-->
			</div>
			<!--{hook/index_side_top}-->
			<!--{if helper_access::check_module('group')}-->
				<!--{if empty($gid) && empty($sgid)}-->
					
				<!--{else}-->
					<div class="bm bw0">
						<div class="bm_c">
							<a href="forum.php?mod=group&action=create&fupid=$fup&groupid=$sgid" id="create_group_btn"><img src="{IMGDIR}/create_group.png" alt="{lang group_create}" /></a>
						</div>
					</div>
				<!--{/if}-->
			<!--{/if}-->
			<div class="drag">
				<!--[diy=diysidemiddle]--><div id="diysidemiddle" class="area"></div><!--[/diy]-->
			</div>
			
			<div class="drag">
				<!--[diy=diysidebottom]--><div id="diysidebottom" class="area"></div><!--[/diy]-->
			</div>
			<!--{hook/index_side_bottom}-->
		</div>
	</div>

<div class="wp mtn">
	<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
</div>

<script type="text/javascript">
jQuery(window.frames['g_show'].document).ready(function(e) {
    jQuery(window.frames['g_show'].document).find('#nv_group').css('background','none')
});
</script>
