<!--{subtemplate common/header}-->
<script type="text/javascript" src="fontjs/cufon-yui.js"></script>
    <script type="text/javascript" src="fontjs/Microsoft_YaHei_400.font.js"></script>
	<script type="text/javascript">
    Cufon.replace(".fontjs");
	Cufon.set("color","white");
    </script>



<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div id="ct" class="ct2 wp cl" style=" width:1000px;">
	<div class="mn">
		<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
		<div class="bm fl cl noborder" style="width:940px">
	
			<!--{if $typelist}-->
				<div class="bm_c pbm ptm bbs">
					<p><!--{loop $typelist $fid $type}--><a href="group.php?sgid=$fid">$type[name]</a><!--{if $type[groupnum]}--><span class="xg1">($type[groupnum])</span><!--{/if}--> &nbsp; <!--{/loop}--></p>
				</div>
			<!--{else}-->
				<div class="bbs noborder"></div>
			<!--{/if}-->
			<!--{hook/index_top}-->
			<!--{if $list}-->
				<div class="tbmu cl bw0" style="color:#FFF; margin-left:10px; padding-bottom:0px!important; font-size:12px;">
					<span class="y">
					<select title="{lang orderby}" onchange="location.href=this.value" class="ps" style="margin-right:20px;">
						<option value="$url" $selectorder[default]>{lang orderby_default}</option>
						<option value="$url&orderby=thread" $selectorder[thread]>{lang stats_main_threads_count}</option>
						<option value="$url&orderby=membernum" $selectorder[membernum]>{lang group_member_count}</option>
						<option value="$url&orderby=dateline" $selectorder[dateline]>{lang group_create_time}</option>
						<option value="$url&orderby=activity" $selectorder[activity]>{lang group_activities}</option>
					</select>
					</span>
					{lang group_total_numbers}
				</div>
				<!--{if $curtype['forumcolumns'] > 1}-->
                    <div id="g_commend" class="bm noborder">
				<div class="bm_c cl" style="padding:0px!important; margin-top:10px;!important">
					<!--{loop $list $fid $val}-->
					<dl class="xld">
						<dd class="m"><a href="forum.php?mod=group&fid=$val[fid]" target="_parent"><img src="$val[icon]" alt="$val[name]" width="74" height="74" /></a></dd>
						<dt><a href="forum.php?mod=group&fid=$val[fid]">$val[name]</a></dt>
						<dd class="xg1">$val[description]</dd>
					</dl>
					<!--{/loop}-->
				</div>
			</div>
					<div class="bm_c">
						<table cellspacing="0" cellpadding="0" class="fl_tb">
							<tr class="fl_row">
								<!--{loop $list $fid $val}-->
								<!--{if $val['orderid'] && ($val['orderid'] % $curtype['forumcolumns'] == 0)}-->
							</tr>
							<tr class="fl_row">
								<!--{/if}-->
								<td class="fl_g" style="width: $curtype[forumcolwidth]">
									<div class="fl_icn_g"><a href="forum.php?mod=group&fid=$fid" title="$val[name]"  target="_parent"><img width="48" height="48" src="$val[icon]" alt="$val[name]" /></a></div>
									<dl>
										<dt><a href="forum.php?mod=group&fid=$fid" title="$val[name]">$val[name]</a></dt>
										<dd>{lang group_total_members_threads}</dd>
										<dd><a href=""><a href="forum.php?mod=group&fid=$fid">{lang group_founded_in}: $val[dateline]</a></dd>
									</dl>
								</td>
								<!--{/loop}-->
								$endrows
							</tr>
						</table>
					</div>
				<!--{else}-->
					<div class="bm_c">
                    <div id="g_commend" class="bm noborder">
				<div class="bm_c cl" style="padding:0px!important; margin-top:10px;!important">
					<!--{loop $list $fid $val}-->
					<dl class="xld">
						<dd class="m"><a href="forum.php?mod=group&fid=$val[fid]" target="_parent"><img src="$val[icon]" alt="$val[name]" width="74" height="74" /></a></dd>
						<dt><a href="forum.php?mod=group&fid=$val[fid]"  target="_parent">$val[name]</a></dt>
						<dd class="xg1">$val[description]</dd>
					</dl>
					<!--{/loop}-->
				</div>
			</div>
						
					</div>
				<!--{/if}-->
				<!--{hook/index_bottom}-->
			<!--{else}-->
				<div class="bm emp">
					<h2>{lang group_category_no_groups}</h2>
					<p>{lang group_category_no_groups_detail}</p>
				</div>
			<!--{/if}-->
		</div>
		<!--{if $list}-->
			
		<!--{/if}-->
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
	</div>
	<div class="sd">
		<!--[diy=diysidetop]--><div id="diysidetop" class="area"></div><!--[/diy]-->
		<!--{hook/index_side_top}-->
		<!--{if helper_access::check_module('group')}-->
			<!--{if empty($gid) && empty($sgid)}-->
				<div class="bm">
					<div class="bm_h cl">
						<h2>{lang create_group_step}</h2>
					</div>
					<div class="bm_c">
						<ul id="g_guide" class="mbm">
							<li><label><strong class="xi1">{lang group_create}</strong><span class="xg1">{lang create_group_message1}</span></label></li>
							<li><label><strong class="xi1">{lang personality_setting}</strong><span class="xg1">{lang create_group_message2}</span></label></li>
							<li><label><strong class="xi1">{lang invite_friend}</strong><span class="xg1">{lang create_group_message3}</span></label></li>
							<li><label><strong class="xi1">{lang group_upgrade}</strong><span class="xg1">{lang create_group_message4}</span></label></li>
						</ul>
						<a href="forum.php?mod=group&action=create" id="create_group_btn"><img src="{IMGDIR}/create_group.png" alt="{lang group_create}" /></a>
					</div>
				</div>
				<div class="drag">
					<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
				</div>
			<!--{else}-->
				<div class="bm bw0">
					<div class="bm_c">
						
					</div>
				</div>
			<!--{/if}-->
		<!--{/if}-->
		<!--[diy=diytopgrouptop]--><div id="diytopgrouptop" class="area"></div><!--[/diy]-->
		<!--{if $topgrouplist}-->
			
		<!--{/if}-->
		<div class="drag">
			<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
		</div>
		<!--{hook/index_side_bottom}-->
	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
</div>
<script type="text/jscript">
jQuery('#g_commend .xld').ready(function(e) {
    var colorStyle = ['modelcolor1','modelcolor2','modelcolor3','modelcolor4','modelcolor5','modelcolor6'];
	var borderStyle = ['modelborder1','modelborder2','modelborder3','modelborder4','modelborder5','modelborder6'];
	var rand; 
	jQuery('#g_commend .xld').each(function(e){
		   rand = parseInt(Math.random() * 5 + 0);
		   jQuery(this).addClass(colorStyle[rand]).find('img').addClass(borderStyle[rand]);
		})
});
</script>
