/demo/config
/demo/logs
/demo/.settings
/demo/data
.buildpath
.project
*.bak

/demo/templates
/demo/phpMyAdmin
/demo/dzz.php
/demo/dzz
/demo/hi_ports
/demo/qqhandwrite.html
/demo/pkgamepost.php
/demo/map.html
/demo/print.php
/demo/dzzadmin.php
/demo/temps
/demo/game
/demo/getIgnore
/demo/im
/demo/team.php
/demo/game.php
/demo/out.php
/demo/pic.html